html,body {
    height: 100%;
    width: 100%;
    background: #019CD6;
    user-select: none;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.d-inline {
    display: inline-block;
}
tr td {
    text-align: center;
}
.btn {
    outline: none;
    border: 1px solid #ddc905;
    border-radius: 50%;
    background: linear-gradient(145deg, #decb02, #c1b002);
    transition-duration: 30ms;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow:  4px 4px 8px #555555,
    -4px -4px 8px #7ed2d2;
}
.btn.small {
    width: 22px;
    height: 22px;
    margin: 0 20px;
    box-shadow:  3px 3px 6px #555555,
    -3px -3px 6px #7ed2d2;
}
.btn.big {
    width: 80px;
    height: 80px;
    box-shadow:  8px 8px 20px #555555,
    -8px -8px 20px #7ed2d2;
}

.btn.active, .btn:active {
    background: linear-gradient(145deg, #a69700, #c5b400);
    box-shadow:  2px 2px 4px #555555,
    -2px -2px 4px #7ed2d2;
}
.text-center {
    text-align: center;

}
.text-center.small {
    font-size: 12px;
}



.flex-page {
    display: flex;
    display: -webkit-flex;

    justify-content: center;
    -webkit-justify-content: center;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    align-items: flex-start;
    -webkit-align-items: flex-start;
}


.game {
    background: #019CD6;
    width: 430px;
    /* border-radius: 12px 12px 12px 12px;
    box-shadow:
            3px 4px 10px rgba(0, 0, 0, 0.8),
            -3px -4px 10px rgba(232, 232, 232, 0.55); */
}

.game .game-head {
    text-align: center;
    padding: 20px 0;
    white-space: nowrap;
}


.game .game-head #screen {
    border: 20px inset;
    border-color: #0a90bf #4dbde3 #59c6e8 #019CD6;
    overflow: hidden;
    background-color: #9facaa;
    width: 197px;
    height: 259px;
}

.game .game-head .centerdoc {
    position: relative;
    display: inline-block;
    border: 4px solid #280000;

}
.game .game-head .centerdoc .logo{
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    bottom: -10px;
    left: 0;
    right: 0;
}

.game .game-head .centerdoc .logo .text{
    background: #019CD6;
    display: inline-block;
    padding: 0 10px;
}


.game .game-body {
    text-align: center;
}

.game .game-body table {
    margin: 0 auto;
}

.game .game-body [key] {
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
}

.game .game-body .controller-flex .controller-div{
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
}
.game .game-body .controller-flex {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0 30px;
}

.game .game-body .controller-right{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.game .game-body .controller-left{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.game .game-body .controller-left-row .btn-parent .btn {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.game .game-body .controller-left-row .btn-parent {
    padding: 8px;
}
.game .game-body .controller-left-row {
    display: -webkit-flex;
    display: flex;
}



