body {
    height: 100%;
    width: 100%;
    background: #019CD6;
    user-select: none;
    overflow: hidden;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-inline {
    display: inline-block;
}
.sline {
    text-align: center;
    margin: 0px auto;
    padding-left: 80px;
}
.btn {
    outline: none;
    border: 1px solid #ddc905;
    border-radius: 50%;
    background: linear-gradient(145deg, #decb02, #c1b002);
    transition-duration: 30ms;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow:  4px 4px 8px #555555,
    -4px -4px 8px #7ed2d2;
}
.btn.small {
    width: 26px;
    height: 26px;
    margin: 0 15px;
    box-shadow:  3px 3px 6px #555555,
    -3px -3px 6px #7ed2d2;
}
.btn.big {
    width: 85px;
    height: 85px;
    box-shadow:  8px 8px 20px #555555,
    -8px -8px 20px #7ed2d2;
}

.btn.active, .btn:active {
    background: linear-gradient(145deg, #a69700, #c5b400);
    box-shadow:  2px 2px 4px #555555,
    -2px -2px 4px #7ed2d2;
}
.text-center {
    text-align: center;

}
.text-center.small {
    font-size: 12px;
}


.game {
    text-align: center;
    margin: auto;
    max-width: 450px;
    background: #019CD6;
    width:100%;
    display: flex;
    display: -webkit-flex;

    justify-content: center;
    -webkit-justify-content: center;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    align-items: center;
    -webkit-align-items: flex-start;
}

.game .game-head {
    margin-top: 10px;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    /* padding: 15px 15px; */
    border: 4px solid #280000;
    width: 75%;
}

.game .game-head #screen {
    border: 20px inset;
    border-color: #0a90bf #4dbde3 #59c6e8 #019CD6;
    overflow: hidden;
    background-color: #9facaa;
}
canvas{
    width: 100%;
}

.game .game-body {

    padding-top: 5px;
}


.game .game-body [key] {
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
}

.game .game-body .controller-flex .controller-div{
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
}
.game .game-body .controller-flex {
    padding-top: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game .game-body .controller-right{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin: 0 30px;
}
.game .game-body .controller-left{
    margin: 0 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.game .game-body .controller-left-row .btn-parent .btn {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.game .game-body .controller-left-row .btn-parent {
    padding: 9px;
}
.game .game-body .controller-left-row {
    display: -webkit-flex;
    display: flex;
}



