<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
</head>
<body>
<form method="post" action="/">
    <div>聊天室</div>
    <div>
        <input value="" id="username" type="text" class="" name="username" onkeyup="setbn();">
        <label>昵称</label>
    </div>
    <div>
        <input value="公共" id="room" type="text" name="room" onkeyup="setbn();">
        <label">房间</label>
    </div>
    <button id="submit_chat"  type="submit"  disabled="true">开始聊天</button>
</form>
<script>
    let inp = document.querySelector('#username');
    let room = document.querySelector('#room');
    function setbn(){
        if (inp.value != "" && room.value != "") {
            document.getElementById("submit_chat").disabled=false;
        } else {
            document.getElementById("submit_chat").disabled=true;
        } }
</script>
</body>
</html>