body{
    white-space: nowrap;
}
/* login界面设置 */
.background {
    position: fixed; /* 设置为fixed使其保持在页面上 */
    left: 0;
    right: 0;
    top: 20px;
    width: 300px; /* 宽度 */
    height: 300px; /* 高度 */
    background-color: rgb(255, 255, 255); /* 背景色 */
    border: 1px solid #ccc; /* 边框样式 */
    padding: 10px; /* 内边距 */
    text-align: center;
    margin: auto;
    border-radius: 6px;
}
.background select{
    width: 170px; height: 22px;
}
.login{
    position: fixed; /* 设置为fixed使其保持在页面上 */
    width: 100%; /* 宽度 */
    height: 100%; /* 高度 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景色 */
}
.close {
    float: right; /* 将关闭按钮放到右侧 */
    cursor: pointer; /* 光标变成手型 */
}
.timsg{
    min-height: 14px;
    font-size:10px;
    color: red; 
}
/* main主界面设置 */
.goods_table{
    max-height: 500px;
    overflow-x:auto;
    text-align: center;
    margin: 0 5%;
    width: 90%;
    background-color: #ffffff;
}
.goods_table tr:hover{
    background-color: #cefdff;
}
.main_top{
    text-align: center; 
    /* margin: auto; */
    padding: 0 10%;
    width: 80%;
}
.main_top input{
    width: 100px;
}
.mainbody{
    margin: auto;
    text-align: center;
    padding: 10px 0 20px 0;
    min-height: 580px;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
}
.left {
    float: right; /* 将按钮放到右侧 */
    cursor: pointer; /* 光标变成手型 */
}
.goods_table table{
    border-spacing: 0px;
    /* text-align: center; */
    /* margin: auto; */
    width: 100%;
}
/* 顶黑条设置 */
.top_row{
    text-align: center;
    padding: 15px 0 15px 0;
    width: 100%; /* 宽度 */
    height: 40px; /* 高度 */
    background-color: rgb(0, 0, 0); /* 背景色 */
    color: rgb(255, 255, 255);
    font-size:25px;
}
.top_row_bt{
    background-color: rgba(0, 0, 0, 0); /* 背景色 */
    color: rgb(255, 255, 255);
    font-size:20px;
    font-weight: bold;
    padding: 5px;
    border: 0px;
    margin-left: 3%;
    cursor: pointer; /* 光标变成手型 */
}
.top_row_bt:hover{
    background:rgba(230, 247, 255, 0.96);
    color: rgb(0, 0, 0);
}