<!DOCTYPE html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>聊天室</title>
</head>
<body>
<div class="">
    <div class="">
        聊天室
    </div>
    <div>
        <input type="text" id="username" placeholder="输入您的用户名" class="">
        <input type="text" id="room" placeholder="输入聊天室名称" class="">
        <button class="" onclick="joinRoom()">加入聊天室</button>
    </div>
    <div class="" id="chat">
    </div>
    <div class="">
        <textarea id="message" class="" placeholder="输入您的消息"></textarea>
        <button class="" onclick="sendMessage()">发送</button>
    </div>
</div>
<script>
    // 连接WebSocket
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

    // 加入聊天室函数
    function joinRoom() {
        socket.emit('join', { 'username': document.getElementById('username').value, 'room': document.getElementById('room').value });
    }

    // 发送消息函数
    function sendMessage() {
        socket.emit('text', { 'msg': document.getElementById('message').value, 'username': document.getElementById('username').value, 'room': document.getElementById('room').value });
    }

    // 监听关闭或刷新页面事件，从聊天室离开
    window.onbeforeunload = function() {
        socket.emit('left', { 'username': document.getElementById('username').value, 'room': document.getElementById('room').value });
    };

    // 接收消息事件
    socket.on('message', function(data) {
        var p = document.createElement('p');
        p.innerHTML = data['msg'];
        document.getElementById('chat').appendChild(p);
    });
</script>

</body>
</html>
