<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录窗口</title>
    <link rel="stylesheet" href="../static/main.css">
    <style></style>
</head>
<body>
    <!-- 登录窗口 -->
    <div id="login" class="login">
        <div class="background" id="background" >
            <!-- <span class="close" onclick="hideLogin()">&times;</span> -->
            <h3>用户登录</h3>
            <div id="username_msg" class="timsg">员工</div>
            <label>账  户: </label>
            <select id="username">
                <option>张三</option>
                <option>李四</option>
                <option>王五</option>
            </select><br>
            <div id="password_msg" class="timsg"></div>
            <label>密  码: </label><input type="password" id="password"><br>
            <div id="timsg" class="timsg"></div>
            <label>仓  库: </label>
            <select id="storename">
                <option>栏位</option>
                <option>标准件</option>
            </select><br><div class="timsg"></div>
            <button onclick="Login()">设置</button>
            <button onclick="new_add()">登录</button>
        </div>
    </div>
 
    <div class="top_row">
        <label >仓库管理系统</label>
        <a class="top_row_bt" onclick="showLogin()">登录管理</a>
        <a class="top_row_bt">出入库记录</a>
        <a class="top_row_bt" onclick="account_set()">账户设置</a>
    </div>
    <div class="mainbody">
        <div class="main_top">
            <label>搜索名称:</label><input type="text" id="select_name">
            <label>搜索规格:</label><input type="text" id="select_specs">
            <input type="button" value="搜索" onclick="get_goods()"><br><div class="timsg"></div>
            <!-- <h2 id="goods_table_biao">库存清单</h2> -->
            <button class="left" onclick="get_goods()">新建名称</button>
            <button class="left">表格导出</button>
            <button class="left" id="up_excel" onclick="up_excel()">表格导入</button>
            <input type='file' name='file' accept="text/csv,text/plain" id='file_excel' style="display: none;"  onchange="file_excel()">
            
        </div>
        <div class="goods_table" id="goods_table_id">
            <table border='1' id="goods_table">
            </table>
        </div>
    </div>
    <footer><span>账户</span><span>-----</span><span>河南瑞牧农牧设备有限公司</span></footer>
    <script type="text/javascript" src="../static/main.js"></script>
</body>
</html>